$green-clr: #7fff00;
$dark-purple-clr: #200436;
$medium-purple-clr: #583f8b;
$light-purple-clr: #9370db;
$red-clr: red;
$orange-clr: orange;

$btn-opacity: 0.7;

$margin-sm: 30px;

$btn-transition: all 100ms ease-in-out;
